.app {
  width: 100%;
  z-index: var(--index-default);
}

.body {
  /* Center the body */
  margin: 0 auto;

  /* Horizontal alignment */
  display: flex;
  flex-direction: row;

  /* Full width (with a maximum) */
  width: 100%;
  max-width: var(--layout-page-max);
}