
body {
  font-family: 'Poppins', sans-serif;
  /*font-family: 'Fira Sans', sans-serif;*/
  /*font-family: 'Inter', sans-serif;*/
  font-size: var(--size-default);
  /*color: var(--color);
  background: var(--bg);*/
  color: var(--c-text);
}