
:root {
  /* Colors */
  --c-primary: #1e87f0;
  --c-highlight: #1e87f0;
  --c-brand: #5468ff;

  --c-text: #666;
  --c-active: #444950;
  --c-muted: #999;

  /* Background */
  --b-primary: #fff;
  --b-modal: #f5f6f7;
  --b-container: rgba(101, 108, 133, 0.8);

  /* Breakpoints */
  --bp-s: 640px;
  --bp-m: 960px;
  --bp-l: 1200px;
  --bp-xl: 1600px;



  /**
  * Old system
  */
  --bg: white;
  --bg-hover: #f8fafc;
  --bg-active: #eff6ff;

  --color: #020617;
  --color-two: #475569;
  --color-three: #64748b;

  --radius: 4px;

  --accent: #ddd;

  --fg-default: rgb(27, 121, 228);
  --fg-dimmer: rgb(0, 153, 255);

  /* Durations */
  --duration: 0.2s;

  /* z-indexes */
  --index-default: 10;
  --index-higher: 20;
  --index-highest: 30;

  /* Font weights */
  --weight-default: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 800;
  --weight-extrabold: 900;

  /* Font sizes */
  --size-secondary: 13px;
  --size-default: 16px;
  --size-subtitle: 18px;
  --size-title: 20px;

  /* Border sizes */
  --border-width: 1px;

  /* Paddings */
  --padding-sm: 4px;
  --padding-default: 8px;
  --padding-medium: 12px;
  --padding-large: 16px;
  --padding-xl: 24px;

  /* Layout sizes */
  --layout-page-max: 1510px;
  --layout-content-max: 800px;
  --layout-sidebar-max: 300px;

  /* Colors */
  --primary-dimmest: #2A6BBE;  /* Darker shade for better contrast */
  --primary-dimmer: #4DA1E0;   /* Slightly deeper blue */
  --primary-default: #7BC4F9;  /* More vibrant blue */
  --primary-higher: #A4D8F0;   /* Softer, more appealing shade */
  --primary-highest: #E0F2FF;  /* Lightest shade for highlights */

  --test: #1f7aff;

  /* Grays */
  --gray-dimmest: #71717A;
  --gray-dimmer: #A1A1AA;
  --gray-default: #D4D4D8;
  --gray-higher: #E4E4E7;
  --gray-highest: #f8fafc;

  /*--color-primary: #1A1A1A;
  --color-secondary: #52525B;
  --color-tertiary: #ACACAC;*/
  --color-primary: #000000 87%;
  --color-secondary: #6b7280;
  --color-tertiary: #000000 37%;

  --background: #FFFFFF;
}